*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  width: 50px;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.table{
  padding: 60px 0;
  max-width: 320px;
  margin: 0 auto;
}

.result{
  margin-bottom: 10px;
  border: 2px black solid;
  padding: 10px;
}
header{
  height: 50px;
  position: fixed;
  background-color: blue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
}
.link{
  color: white;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
}
.active{
  color: black ;
}

.in{
  width: 200px;
  margin-bottom: 20px;
}